.app {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 4px 4px #ababab;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  grid-template-rows: repeat(2, 150px);
  margin: 12px 0;
}

.instructions {
  border-top: 1px solid #ababab;
  padding: 24px 24px 24px 48px;
}

.instructions__gameplay-list {
  width: 800px;
}

.grey-out {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}