.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 18px;
  background-color: #4d607d;
  color: #fff;
}

.header__page-title {
  margin: 0;
}

.header__nav-items {
  margin: 0;
  list-style-type: none;
}

.header__nav-item {
  cursor: pointer;
}